<mat-card class="home mat-elevation-z3 title-type">
    <mat-card-title class="title">User CRUD</mat-card-title>
    <mat-card-subtitle class="subtitle">Homepage</mat-card-subtitle>
</mat-card>


<mat-card class="home mat-elevation-z3 info-type">
    <mat-card-title class="textTitle">Informações</mat-card-title>
    <mat-card-subtitle class="text">Projeto desenvolvido utilizando o framework Angular</mat-card-subtitle>
    <mat-card-content class="content">
        Projeto de Criação, Leitura, Atualização e Deleção (Create, Read, Update, Delete) de usuários simples, utilizando o framework Angular, o banco de dados MongoDB, e uma API de autoria própria que utiliza do Framework Spring Boot, juntamente com a linguagem Java para enviar emails aos usuários que realizam interações com a aplicação.
    </mat-card-content>
    <mat-card-content class="content">
        O back-end do projeto (Banco de dados, e API de envio de emails) foi hospedado na plataforma Railway, no link a seguir: [ <a href="https://spring-mail-sender-production.up.railway.app">https://spring-mail-sender-production.up.railway.app</a> ], onde as requisições pro mesmo estão disponíveis no caminho /users.
        Já o front-end do projeto se localiza no Netlify, que é outra plataforma de hospedagem.
    </mat-card-content>
</mat-card>