<mat-card>
    <mat-card-title>Atualizar Usuário</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="user.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="user.phone" name="phone">
        </mat-form-field>
    </form>
</mat-card>

<div class="buttonBox">
    <button mat-raised-button [ngStyle]="greenDarkStyle" (click)="updateUser()">
        Salvar
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">
        Cancelar
    </button>
</div>