form {
    display: flex;
    flex-direction: column;

}

button{
    width: 350px;
    margin: 25px;
}

.buttonBox{
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
}

mat-card-title{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 20px;
}


form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

mat-form-field{
    width: 750px;
}

@media (max-width: 1080px) {
    mat-card {
      width: 100%;
    }
  
    mat-card-title {
      font-size: 1.5rem;
    }
  
    mat-form-field {
      margin-bottom: 10px;
      width: 100%; 
    }
  
    mat-form-field mat-label,
    mat-form-field mat-placeholder {
      font-size: 0.8rem;
    }
  
    mat-form-field input {
      width: 100%;
    }

    button{
        width: 40%;
    }
  }